.benefits.section {
    padding-bottom: 0;
}

.benefits__icon-box {
    @extend %centeredFlex;
    height: 120px;
    width: 270px;
    background-color: $button-background;
    border-radius: 4px;
    margin-bottom: 30px;
    
}

.benefits__icon {
    width: 70px;
    height: 70px;
}

.benefits__list {
    display: flex;
}

.benefits__items:not(:last-child) {
    margin-right: 30px;
}

.benefits__title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $prymary-text-color;

    margin-bottom: 10px;
}

.benefits__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $header-contacts;
}