.footer__subscribe-label {
    display: flex;
}

.footer__subscribe {
    margin-left: 93px;
}

.footer__subscribe-title {
    text-transform: uppercase;
    color: $prymary-bg-color;
    font-size: 14px;
    line-height: 1.17;
    margin-bottom: 20px;
}

.footer__subscribe-input {
    padding: 15px;
    background-color: $footer-background;
    width: 358px;
    border: 1px solid $subscribe-border-color;
    border-radius: 4px;
    color: $prymary-bg-color;

    transition: border-color 250ms $animations-time-function;

    &:not(:placeholder-shown),
    &:hover,
    &:focus-visible {
        outline: none;
        border-color: $active-color;
    }

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: $subscribe-placeholder-color;
    }
}

.footer__subscribe-button {
    @extend %centeredFlex;

    cursor: pointer;
    padding: 0;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $prymary-bg-color;
    width: 200px;
    height: 50px;
    border-width: 0px;
    box-shadow: 0px 4px 4px $subscribe-btn-bgcolor;
    border-radius: 4px;
    background-color: $active-color;

    transition: background-color 250ms $animations-time-function;

    .footer__subscribe-input:hover~&,
    &:hover,
    &:focus {
        background-color: $hero-button-hover;
    }
}


.footer__subscribe-icon {
    fill: $prymary-bg-color;
    margin-left: 10px;
}