.footer__socials-title {
    text-transform: uppercase;
    color: $prymary-bg-color;
    font-size: 14px;
    line-height: 1.17;
    margin-bottom: 20px;
}

.footer__socials-list {
    display: flex;
    fill: $prymary-bg-color;
}

.footer__socials-items {
    border-radius: 50%;
    background-color: $footer-background-icons;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.footer__socials-link {
    @extend %centeredFlex;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $animations-time-function;

    &:hover,
    &:focus {
        background-color: $active-color;
    }
}

.footer__socials-icon {
    fill: $prymary-bg-color;
}