.footer__contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 165px;
    margin-left: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-left: 0;
  }
}

.footer__contacts-items:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__adress-link {
  color: $prymary-bg-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $animations-time-function;

  &:hover,
  &:focus {
    color: $active-color;
    fill: $active-color;
  }
}

.footer__contacts-link {
  color: $footer-contacts-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $animations-time-function;

  &:hover,
  &:focus {
    color: $active-color;
    fill: $active-color;
  }
}
