.header {
    border-bottom: 1px solid $header-border-color;
}

.header__content {
position: relative;

        display: flex;
            align-content: space-between;
            align-items: center;

    // display: flex;
    // align-items: center;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}


