.menu-container {
  // display: none;

  // z-index: 999;
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $prymary-bg-color;
    width: 100%;
    height: 100vh;

    padding: 48px 40px;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
