.recall__title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    color: $prymary-text-color;
}

.recall__comment {
    margin-bottom: 20px;
}

.recall__name,
.recall__phone,
.recall__email {
    margin-bottom: 10px;
}

.recall__name,
.recall__phone,
.recall__email,
.recall__comment {
    display: block;
    position: relative;
}

.recall__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $header-contacts;
}

.recall__input {
    cursor: pointer;
    display: block;
    height: 40px;
    width: 100%;
    border: 1px solid $recall-inpuy-border-call;
    border-radius: 4px;
    padding-left: 42px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 21px;
    outline: transparent;

    transition: border-color 250ms $animations-time-function;

    &:hover,
    &:focus,
    &:focus-visible {
                    border-color: $active-color;
                    }
}

.recall__icon {
    position: absolute;
    top: 0;
    left: 12px;
    top: 30px;
    fill: $prymary-text-color;

    transition: fill 250ms $animations-time-function;

    .recall__input:hover+&,
    .recall__input:focus+& {
                            fill: $active-color;
                            pointer-events: none;
                            }
}

.recall__comment-field {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid $recall-inpuy-border-call;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    outline: transparent;

    transition: border-color 250ms $animations-time-function;

    &:hover,
    &:focus {
            border-color: $active-color;
            }

    &::placeholder {
                    font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 0.01em;
                    
                        color: $recall-placeholder-color;
                    }
}



.recall__check-icon {
    @extend %centeredFlex;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid $prymary-text-color;
    border-radius: 4px;
    margin-right: 7px;
    fill: transparent;

    transition-property: background-color, border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: $animations-time-function;

    &:hover,
    &:focus,
    .recall__check:focus+& {
                            border-color: $active-color;
                            }
     
    .recall__check:checked+& {
        background-color: $active-color;
        border-color: $active-color;
        fill: $prymary-bg-color;
    }
}


.recall__confirm {
    cursor: pointer;
    @extend %centeredFlex;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $header-contacts;
}

.recall__confirm-link {
    color: $active-color;
}

.recall__btn-send {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: $prymary-bg-color;
    background-color: $active-color;
    border-radius: 4px;
    border: none;

    min-width: 200px;
    padding: 10px 32px;

    box-shadow: 0px 4px 4px $button-shadow;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $animations-time-function;

    &:hover,
    &:focus {
            background-color: $hero-button-hover;
            }
}
