.works__btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  padding-top: 60px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    gap: 0;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.works__btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  &--current,
  &:focus,
  &:hover {
    color: $prymary-bg-color;
    background: $active-color;
    box-shadow: 0px 2px 2px $filter-buttons-shadow-color-one, 0px 1px 2px $filter-buttons-shadow-color-two,
      0px 3px 2px $filter-buttons-shadow-color-three;
  }
}

.works__btn-items:not(:last-child) {
  margin-right: 8px;
}
