.works__container {
    align-items: center;
}

.works__name {
    color: $prymary-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
}

.works__type {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $header-contacts;
    margin-top: 0;
    margin-bottom: 0;
}

.works__thumb {
    position: relative;
    overflow: hidden;
}

.works__overlay {
    position: absolute;
    display: flex;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 63px 24px;

    align-items: center;
    font-size: 18px;
    line-height: 1.55;
    color: $prymary-bg-color;
    background-color: $works-overlay-color;

    transform: translateY(101%);
    transition: transform 250ms $animations-time-function;

    .works__cards-link:hover &,
    .works__cards-link:focus & {
        transform: translateY(0);
    }
}



.works__info-box {
    border: 1px solid $border-color;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: none;
}

.works__cards-list {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - (30px * 2)) / 3;
}

.works__cards-link {
    display: block;

    &:hover,
    &:focus {
            cursor: pointer;
            box-shadow: 1px 4px 6px $works-card-shadow-color-one,
                0px 4px 4px $works-card-shadow-color-two,
                0px 1px 1px $works-card-shadow-color-three;
            }
}



.works__items:not(:nth-child(3n)) {
    margin-right: 30px;
}

.works__items:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}