

    $prymary-text-color: #212121;
    $prymary-bg-color: #ffffff;
    $active-color: #2196f3;
    $hero-button-hover: #188ce8;
    $border-color: #eeeeee;
    $header-border-color: #ececec;
    $header-contacts: #757575;
    $hero-background-color: rgba(47, 48, 58, 0.4);
    $hero-background-color-alternative: #c4c4c4;
    $backdrop-bgcolor: rgba(0, 0, 0, 0.2);
    $modal-close-btn-border-color: rgba(0, 0, 0, 0.1);
    $modal-box-shadow-one: rgba(0, 0, 0, 0.12);
    $modal-box-shadow-two: rgba(0, 0, 0, 0.14);
    $modal-box-shadow-three: rgba(0, 0, 0, 0.2);
    $recall-inpuy-border-call: rgba(33, 33, 33, 0.2);
    $recall-placeholder-color: rgba(117, 117, 117, 0.5);
    $doing-cards-bgcolor: rgba(47, 48, 58, 0.8);
    $footer-contacts-color: rgba(255, 255, 255, 0.6);
    $button-background: #f5f4fa;
    $footer-background: #2f303a;
    $footer-background-icons: rgba(255, 255, 255, 0.1);
    $subscribe-border-color: rgba(255, 255, 255, 0.3);
    $subscribe-placeholder-color: rgba(255, 255, 255, 0.6);
    $subscribe-btn-bgcolor: rgba(0, 0, 0, 0.15);
    $button-shadow: rgba(0, 0, 0, 0.15);
    $filter-buttons-shadow-color-one: rgba(0, 0, 0, 0.12);
    $filter-buttons-shadow-color-two: rgba(0, 0, 0, 0.08);
    $filter-buttons-shadow-color-three: rgba(0, 0, 0, 0.1);
    $works-overlay-color: rgba(33, 150, 243, 0.9);
    $works-card-shadow-color-one: rgba(0, 0, 0, 0.16);
    $works-card-shadow-color-two: rgba(0, 0, 0, 0.06);
    $works-card-shadow-color-three: rgba(0, 0, 0, 0.12);
    $box-shadow-1: #0000001f;
    $box-shadow-2: #00000024;
    $box-shadow-3: #00000033;
    $team-icons-color: #afb1b8;
    $animations-time-function: cubic-bezier(0.4, 0, 0.2, 1);
