.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $active-color;
}

.header__logo {
    color: $prymary-text-color;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer__logo-second {
    color: $prymary-bg-color;
}