.social-list {
    display: flex;
    justify-content: center;
    fill: $team-icons-color;
}

.social-list__link {
    @extend %centeredFlex;
    height: 44px;
    width: 44px;
    border-radius: 50%;

    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: $animations-time-function;

    &:hover,
    &:focus {
        cursor: pointer;
        fill: $prymary-bg-color;
        background-color: $active-color;
    }
}

.social-list__items {
    height: 44px;
    width: 44px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-list__icon {
    height: 20px;
    width: 20px;
}